/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* SECCION start */
.start{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("img/fondo.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.start .inner_section{
    max-width: auto;
    margin: auto;
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.start .inner_section header{
    padding: 30px;
}

/* menu lateral */
.start .inner_section header nav{
    position: fixed;
    margin-left: 40px;
    background-color: #949253;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}
.start .inner_section header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}
/* ****** */
.start .inner_section header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Roboto";
    text-shadow: 0 0 35px #fff;
}
.start .inner_section header .logo .color{
    color: #949253;
    font-family: "Roboto";
}
.start .inner_section header .pop-bar{
    position: fixed;
    background-color: #949253;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    line-height: 30px;
    cursor: pointer;
    transition: .3s;
}
.start .inner_section header .pop-bar:hover{
    box-shadow: 0 0 35px #fff;
}
.start .inner_section .info{
    padding-bottom: 130px;
}
.start .inner_section .info h1{
    font-size: 3rem;
    letter-spacing: 2px;
}
.start .inner_section .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: 10px;
    letter-spacing: 2px;
}
.start .inner_section .info .media_links{
    margin: 20px 0;
}
.start .inner_section .info .media_links a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #949253;
    border: 1px solid #949253;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}

.start .inner_section .info .media_links a:hover{
    color: #fff;
    background-color: #949253;
    box-shadow: 0 0 20px #fff;
}

.start .inner_section .foto{
    position: relative;
}

.start .inner_section .foto img{
    max-width: 200px;
    border-radius: 10%;
    border: 5px solid #949253;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
}

.start .inner_section .foto img:hover{
    color: #fff;
    background-color: #949253;
    box-shadow: 0 0 20px #949253;
}

/* estilos generales */
.titulo-seccion{
    font-family: "Roboto";
    font-size: 1.5rem;
}
/* SECCION SOBRE MI */
.aboutme{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}
.aboutme .inner_section{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.aboutme .inner_section h3{
    text-transform: uppercase;
    font-size: 30px;
}
.aboutme .inner_section .especial{
    color: #949253;
    font-weight: bold;
    margin-top: 15px;
}
.aboutme .inner_section p{
    max-width: 900px;
    margin: auto;
    color: #666;
}
.aboutme .inner_section a{
    color: #949253;
    font-weight: bold;
    margin-top: 15px;
    max-width: 900px;
    text-decoration: none;
}
.aboutme .inner_section .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.aboutme .inner_section .fila .col{
    width: 30%;
}
.aboutme .inner_section .fila .col i{
    color: #949253;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #949253;
    line-height: 40px;
    border-radius: 10%;
}
.aboutme .inner_section .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}
/* SECCION ICAPS */
.skills{
    padding: 80px 0 100px 0;
    text-align: center;
    background-image: url("img/skills.jpg");
    background-attachment: fixed;
    background-position: center; /* Center the image */
    /* background-repeat: no-repeat;  Do not repeat the image */
    background-size: contain;
    background-color: black;
    color: #fff;
}

.skills .inner_section{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.skills .inner_section h3{
    text-transform: uppercase;
    font-size: 30px;
}

.skills .inner_section .fila{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.skills .inner_section .fila .col{
    width: 47%;
    text-align: left;
}

/* SECCION RESUMEN */
.resumen{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}
.resumen .inner_section{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.resumen .inner_section h3{
    text-transform: uppercase;
    font-size: 30px;
}
.resumen .inner_section .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.resumen .inner_section .info .col{
    width: 45%;
}
.resumen .inner_section .info .col .titulo{
    display: inline-block;
    color: #949253;
    font-weight: bold;
    border: 2px solid #949253;
    padding: 10px;
}
.resumen .inner_section .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}
.resumen .inner_section .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}
.resumen .inner_section .info .col table h4{
    margin-top: 10px;
}
.resumen .inner_section .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.resumen .inner_section .info .col table p{
    font-size: 14px;
}
.resumen .inner_section .info .col table .promedio{
    display: block;
    color: #949253;
    margin-top: 10px;
    font-weight: bold;
}
.resumen .inner_section .info .col table .descripcion{
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}
/* SECCION CONTACTO */
.contacto{
    background-color: #202020;
    padding: 140px 0 100px 0;
    color: #e6e6e6;
    text-align: center;
}
.contacto .inner_section{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.contacto .inner_section h3{
    text-transform: uppercase;
    font-size: 30px;
}
.contacto .inner_section .fila{
    display: flex;
    justify-content: space-around;
}
.contacto .inner_section .fila .col{
    margin-top: 50px;
}
.contacto .inner_section .fila .col h2{
    color: #949253;
}
/* SECCION DEVICE FRIENDLY / RESPONSIVE */
@media screen and (max-width:800px){
    .skills .inner_section .fila{
        display: block;
    }
    .skills .inner_section .fila .col{
        width: 100%;
        text-align: center;
    }
    .skills .inner_section .fila .col .cont-barra{
        justify-content: center;
    }
    .aboutme .inner_section .fila{
        display: block;
    }
    .aboutme .inner_section .fila .col{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .resumen .inner_section .info{
        display: block;
    }
    .resumen .inner_section .info .col{
        width: 90%;
        margin: auto;
    }
    .resumen .inner_section .info .col .titulo{
        display: block;
        text-align: center;
    }
    .resumen .inner_section .info .col table{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .contacto .inner_section .fila{
        display: block;
    }
}